.users-form {
  margin: 1% 10%;
}
.users-form h1 {
  color: rgb(78, 75, 75);
  text-align: center;
}
.loding-img {
  width: 10%;
  margin-left: 50%;
}

.notification {
  margin: 1% 10%;
}
.update-icon {
  border: none;
  background-color: white;
}
.update-icon:hover {
  background-color: rgb(236, 208, 171);
}
.close-icon {
  border: none;
  background-color: white;
}
.close-icon:hover {
  background-color: rgb(236, 208, 171);
}
.home-img {
  width: 12%;
}
.user-img {
  width: 30%;
  display: block;
}
.userProfile-info {
  border-style: inset;
  font-size: 18px;
  font-weight: 600;
}
.userUpdate-form {
  margin: 2% 20%;
}
